<div class='post'>
    <img src="{{imgurl}}" id='img'>
    <h1 id='title'>Title : {{title}}</h1>
    <h2 id='user'>User : {{user}}</h2>
    <p id='ingredients'>Ingredients : {{ingredients}}</p>
    <p id='recipe'>Recipe : {{recipe}}</p>
    <p id='commentary'>Commentary : {{commentary}}</p>
    <button class='like' id='like'>Like this Recipe! {{likes}} likes!</button>
    <button class='moreinfo' id='moreinfo'>Join the discussion!</button>
</div>