{{#each posts}}
<div class='post'>
    <img src="{{imgurl}}" id='img'>
    <h1 id='title'>Title : {{title}}</h1>
    <p id='ingredients'>Ingredients : {{ingredients}}</p>
    <p id='recipe'>Recipe : {{recipe}}</p>
    <p id='commentary'>Commentary : {{commentary}}</p>
    <p id='user'>User : {{user}}</p>
</div>
{{/each}}