<div class='popular-posts' id='poppost'>
    <button id='filter-header'>Post Filters ↡</h1>
    <button class='option' id='popular'>Popular</button>
    <button class='option' id='usernamesearch'>Username</button>
    <button class='option' id='titlenamesearch'>Title</button>
    <input type="text" id='Username'>
    <input type="text" id='Titlename'>
</div>

<div class='recipes' id='recipes'>
    {{#each posts}}
    <div class='post'>
        <img src="{{imgurl}}" id='img'>
        <h1 id='title'>Title : {{title}}</h1>
        <h2 id='user'>User : {{user}}</h2>
        <div class='misc'>
            <p id='ingredients'>Ingredients : {{ingredients}}</p>
            <p id='recipe'>Recipe : {{recipe}}</p>
            <p id='commentary'>Comments-- 
                {{#each commentary as |item i|}} 
                <br>{{item}}
                {{/each}}</p>
        </div>
        <button class='like' id='like'>Like this Recipe! {{likes}} likes!</button>
        <button class='moreinfo' id='moreinfo'>Edit commentary!</button>
        <textarea class='addcomment' id='addcomment' placeholder='Add comment here!'></textarea>  
        <button class='submitinfo' id='submitinfo'>Submit new commentary!</button>
    </div>
    {{/each}}
</div>